<!doctype html>
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Admin.io - AngularJS theme</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>





    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,700,600,400'
          rel='stylesheet' type='text/css'>

</head>
<body data-ng-app="app" id="app" data-custom-background="" data-off-canvas-nav="" data-ng-controller="AdminAppCtrl">

<div class="page-wrapper nav-style--alternative">
    <div data-ng-hide="checkIfOwnPage()" data-ng-cloak="" class="no-print">
        <aside data-ng-include=" 'app/views/navigation.html' " id="nav-container"></aside>
    </div>

    <div class="view-container">

        <div data-ng-hide="checkIfOwnPage()" data-ng-cloak="" class="no-print">
            <section data-ng-include=" 'app/views/header.html' " id="header" class="top-header"></section>
        </div>
        <section data-ng-view="" id="content" class="animate-fade-up"></section>
    </div>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2 md-theme" md-component-id="rightmessages">
        <div data-ng-include=" 'app/views/right-navbar.html' ">

        </div>
    </md-sidenav>

</div>

<div class="page-loading-overlay">
    <div class="loader-2"></div>
</div>

<div class="load_circle_wrapper">

    <div class="loading_spinner">
        <div id="wrap_spinner">
            <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</div>

<!-- Theme main app compiled with grunt (replace with below scripts if not using grunt) -->
<script id="app_js" type="text/javascript" src="dist/js/app.js"></script>

<!-- Replace main.js with all of these if not using grunt to compile -->
<!--<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="scripts/gmap.js"></script>
<script src="vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="vendor/angular/angular.min.js"></script>
<script src="vendor/angular-animate/angular-animate.min.js"></script>
<script src="vendor/angular-route/angular-route.min.js"></script>
<script src="vendor/angular-sanitize/angular-sanitize.min.js"></script>
<script src="vendor/angular-messages/angular-messages.min.js"></script>
<script src="vendor/angular-aria/angular-aria.min.js"></script>
<script src="vendor/angular-material/angular-material.min.js"></script>
<script src="vendor/underscore/underscore-min.js"></script>
<script src="vendor/raphael/raphael-min.js"></script>
<script src="vendor/morrisjs/morris.min.js"></script>
<script src="vendor/flot/jquery.flot.js"></script>
<script src="vendor/flot/jquery.flot.canvas.js"></script>
<script src="vendor/flot/jquery.flot.categories.js"></script>
<script src="vendor/flot/jquery.flot.crosshair.js"></script>
<script src="vendor/flot/jquery.flot.image.js"></script>
<script src="vendor/flot/jquery.flot.navigate.js"></script>
<script src="vendor/flot/jquery.flot.time.js"></script>
<script src="vendor/flot/jquery.flot.pie.js"></script>
<script src="vendor/flot/jquery.flot.resize.js"></script>
<script src="vendor/flot/jquery.flot.selection.js"></script>
<script src="vendor/flot/jquery.flot.stack.js"></script>
<script src="vendor/flot.curvedlines/curvedLines.js"></script>
<script src="vendor/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
<script src="vendor/jquery.sparkline.build/dist/jquery.sparkline.min.js"></script>
<script src="vendor/easypie/dist/angular.easypiechart.min.js"></script>
<script src="vendor/angular-wizard/dist/angular-wizard.js"></script>
<script src="vendor/angular-ui-tree/dist/angular-ui-tree.js"></script>
<script src="vendor/jqvmap/jqvmap/jquery.vmap.min.js"></script>
<script src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="scripts/other_charts.js"></script>
<script src="scripts/extras.js"></script>
<script src="scripts/audio.min.js"></script>

<script src="app/app.js"></script>
<script src="app/config.js"></script>
<script src="app/controllers.js"></script>
<script src="app/directives.js"></script>
<script src="app/services.js"></script>-->

</body>
</html>