<div ng-controller="CarCtrl">
    <ui-view/>


    <div class="row" ng-repeat="row in carsDisplay" ng-show="state.current.name==='car'">
        <div class="col-sm-3" ng-repeat="car in row">
            <md-card ng-if="!car.number" class="car-card">

                <md-card-content>
                    <div class="md-card-header">
                        <h3>Автопарк</h3>
                        <div>
                            <a ui-sref="car.profile">
                                <button class="md-fab md-mini md-primary md-button md-ink-ripple" type="button"
                                        aria-label="Добавить">
                                    <md-icon
                                            md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_add_circle_24px.svg"></md-icon>
                                    <md-tooltip>Добавить автомобиль</md-tooltip>

                                </button>
                            </a>
                        </div>
                                </div>
                </md-card-content>
            </md-card>

            <md-card ng-if="car.number" class="car-card">

                <div class="row">
                    <div class="col-sm-7">
                        <md-card-header>
                            <md-card-header-text>
                                <span class="md-title"><a ui-sref="car.profile({id:car.id,car:car})">{{car.number | carnumber}}</a></span>
                                <h3 class="md-subhead">{{car.model.maker.title}} {{car.model.title}}</h3>
                            </md-card-header-text>
                        </md-card-header>
                    </div>
                    <div class="col-sm-5" style="padding-right: 25px;padding-top:20px;">
                        <md-card-actions layout="column" layout-align="top left">
                            <md-button ng-click="cloneCar(car)" style="margin:0;padding:0;">
                                <md-icon
                                        md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_content_copy_24px.svg"></md-icon>
                                Клонировать
                            </md-button>

                            <span>{{car.status.title.ru}}</span>

                            <!--  <md-select ng-model="car.status" ng-model-options="{trackBy: '$value.id'}" ng-change="onChange(car)">
                                  <md-option ng-repeat="status in collections['status']"
                                             ng-value="status">{{status.title.ru}}</md-option>
                              </md-select>-->

                        </md-card-actions>
                    </div>


                </div>


            </md-card>
        </div>
                </div>


        <!--
                <div class="row">
                    <div class="col-sm-4">


                            <md-card>

                                <md-card-content>
                                    <div class="md-card-header">
                                        <h3>Автопарк</h3>
                                        <div>
                                            <a ui-sref="car.add">
                                                <button class="md-fab md-mini md-primary md-button md-ink-ripple" type="button" aria-label="Добавить">
                                                    <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_add_circle_24px.svg"></md-icon>
                                                    <md-tooltip>Добавить автомобиль</md-tooltip>

                                                </button>
                                            </a>
                                        </div>

                                    </div>
                                    <div class="progress-container" ng-if="flags.carsReady===false">
                                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                    </div>
                                    <div style="width:100%; height:100%;" ng-if="flags.carsReady===true && cars.length===0">
                                        <span>Пусто</span>
                                    </div>
                                    <div ng-if="flags.carsReady===true && cars.length>0">

                                    <ul>
                                           <li ng-repeat="car in cars">
                                               <strong>{{car.number}}</strong> / {{car.model.maker.title}} {{car.model.title}}
                                           </li>
                                       </ul>
                                    </div>
                                </md-card-content>
                            </md-card>

                    </div>


                </div>
        -->

    </div>
</div>


