<input class="ip1" type="text" ng-model="num.num1" maxlength="1">
<input class="ip2" type="text" ng-model="num.num2" maxlength="3">
<input class="ip3" type="text" ng-model="num.num3" maxlength="2">
<input class="ip4" type="text" ng-model="num.num4" maxlength="3">