<div class="page" ng-controller="CarProfileCtrl">
    <section class="md-content-section">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button aria-label="Предыдущий" ng-click="prev()" ng-show="nav.prev">
                    <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_navigate_before_24px.svg">
                    </md-icon>
                    Предыдущий
                </md-button>
                Автомобиль
                <md-button aria-label="Следующий" ng-click="next()" ng-show="nav.next">
                    Следующий
                    <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_navigate_next_24px.svg">
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div class="row">
            <div class="col-sm-12">
                <md-content class="frm-container">


                    <form name="addCarFrm" novalidate ng-submit="submit(addCarFrm)">
                        <div class="col-sm-9">
                        <div layout="row" layout-xs="column" style="margin-bottom: 26px">
                            <div flex="45">

                                <div class="number-container">
                                        <div car-number name="num" ng-model="num">
                                         </div>



                                </div>
                                <div ng-messages="addCarFrm.num.$error" ng-if="addCarFrm.num.$error.wrongNumber  && addCarFrm.$submitted">
                                    <div ng-message="wrongNumber" class="error">Номер автомобиля указан неверно</div>
                                </div>

                            </div>
                            <div flex="5"></div>
                            <div flex="45" style="margin-top:26px">
                                <img style="width:140px;" ng-src="{{car.model.image}}" ng-show="car.model.image" alt="{{car.model.title}}"/>
                            </div>


                        </div>
                        <div layout="row" layout-sm="column">
                            <div flex="20" flex-sm="100">

                                <md-input-container md-is-error="addCarFrm.maker.$invalid && addCarFrm.$submitted">

                                    <md-select ng-model="selected.maker" name="maker" ng-required="true" placeholder="Производитель" ng-model-options="{trackBy: '$value.id'}">

                                        <md-option ng-repeat="maker in collections.maker" ng-value="maker">
                                            <img class="option-thumb" ng-src="{{::maker.logo}}" alt="{{::maker.title}}">
                                            {{maker.title}}
                                        </md-option>
                                    </md-select>

                                    <div ng-messages="addCarFrm.maker.$error" ng-if="addCarFrm.maker.$error.required  && addCarFrm.$submitted">
                                        <div ng-message="required">Обязательно</div>
                                    </div>



                                </md-input-container>

                            </div>
                            <div flex="5"></div>
                            <div flex="20" flex-sm="100">
                                <md-input-container md-is-error="addCarFrm.model.$invalid && addCarFrm.$submitted">
                                    <md-select ng-model="selected.model"
                                               ng-disabled="collections['maker'][car.model.maker.id]['carModel'].length === 0"
                                               name="model" ng-model-options="{trackBy: '$value.id'}"
                                               placeholder="Модель">
                                        <md-option ng-repeat="model in collections['maker'][selected.maker.id]['carModel']" ng-value="model">
                                            {{model.title}} ({{model.produceStart}} - {{model.produceEnd}})
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="addCarFrm.model.$error" ng-if="addCarFrm.model.$error.required  && addCarFrm.$submitted">
                                        <div ng-message="required">Обязательно</div>
                                    </div>



                                </md-input-container>
                            </div>
                            <div flex="5"></div>

                            <div flex="20" flex-sm="100">
                                <md-input-container md-is-error="addCarFrm.year.$invalid && addCarFrm.$submitted">
                                    <md-select name="year" ng-model="car.year" ng-disabled="selected.years.length===0" placeholder="Год выпуска">
                                        <md-option ng-repeat="year in selected.years" ng-value="year">
                                            {{year}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="addCarFrm.year.$error" ng-if="addCarFrm.year.$error.required  && addCarFrm.$submitted">
                                        <div ng-message="required">Обязательно</div>
                                    </div>

                                </md-input-container>
                            </div>


                        </div>

                        <div layout="row" layout-sm="column">
                            <div flex="20" flex-sm="100">
                                <md-input-container>
                                    <md-select ng-model="car.color" placeholder="Цвет" ng-model-options="{trackBy: '$value.id'}">
                                        <md-option ng-repeat="color in collections.color" ng-value="color">
                                            <div style="display:inline-block;border:1px rgba(0,0,0,0.54) solid;background-color: {{color.hex}};width: 15px;height: 15px"></div>
                                            {{color.title.ru}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                            </div>

                            <div flex="20" flex-sm="100">
                                <md-input-container>
                                    <md-select ng-model="car.fuel" placeholder="Топливо" ng-model-options="{trackBy: '$value.id'}">
                                        <md-option ng-repeat="fuel in collections.fuel" ng-value="fuel">
                                            {{fuel.title.ru}}
                                        </md-option>
                                    </md-select>

                                </md-input-container>
                            </div>
                            <div flex="20" flex-sm="100">
                                <md-input-container>
                                    <md-select ng-model="car.doors" placeholder="Кол-во дверей" name="doors">
                                        <md-option ng-repeat="door in collections.door" ng-value="door.val">{{door.val}} {{door.word}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div flex="20" flex-sm="100">

                                <md-input-container md-is-error="addCarFrm.maker.$invalid && addCarFrm.$submitted">

                                    <md-select ng-model="car.wheelDrive" name="wheelDrive" ng-required="true" placeholder="Привод" ng-model-options="{trackBy: '$value.id'}">

                                        <md-option ng-repeat="wheel in collections.wheelDrive" ng-value="wheel">
                                            {{wheel.title.ru}}
                                        </md-option>
                                    </md-select>

                                    <div ng-messages="addCarFrm.wheelDrive.$error" ng-if="addCarFrm.wheelDrive.$error.required  && addCarFrm.$submitted">
                                        <div ng-message="required">Обязательно</div>
                                    </div>



                                </md-input-container>
                            </div>


                        </div>
                        <div layout="row" layout-sm="column">



                            
                            <div flex="15" flex-sm="100">
                                <md-input-container md-is-error="addCarFrm.vol.$invalid && addCarFrm.$submitted">
                                    <label>Объем</label>
                                    <input name="vol" type="number" ng-model="car.volume" ng-required="true">
                                    <div ng-messages="addCarFrm.vol.$error" ng-if="addCarFrm.vol.$error.required  && addCarFrm.$submitted">
                                        <div ng-message="required">Обязательно</div>
                                    </div>
                                    <div ng-messages="addCarFrm.vol.$error" ng-if="addCarFrm.vol.$error.number  && addCarFrm.$submitted">
                                        <div ng-message="number">Только цифры</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div flex="15" flex-sm="100">
                                <md-input-container md-is-error="addCarFrm.power.$invalid && addCarFrm.$submitted">
                                    <label>Мощность</label>
                                    <input name="power" type="number" ng-model="car.power" ng-required="true">
                                    <div ng-messages="addCarFrm.power.$error" ng-if="addCarFrm.power.$error.required  && addCarFrm.$submitted">
                                        <div ng-message="required">Обязательно</div>
                                    </div>
                                    <div ng-messages="addCarFrm.power.$error" ng-if="addCarFrm.power.$error.number  && addCarFrm.$submitted">
                                        <div ng-message="number">Только цифры</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div flex="15" flex-sm="100">
                                <md-input-container md-is-error="addCarFrm.consumption.$invalid && addCarFrm.$submitted">
                                    <label>Потребление</label>
                                    <input name="consumption" type="number" ng-model="car.consumption" ng-required="true">
                                    <div ng-messages="addCarFrm.consumption.$error" ng-if="addCarFrm.consumption.$error.required  && addCarFrm.$submitted">
                                        <div ng-message="required">Обязательно</div>
                                    </div>
                                    <div ng-messages="addCarFrm.consumption.$error" ng-if="addCarFrm.consumption.$error.number  && addCarFrm.$submitted">
                                        <div ng-message="number">Только цифры</div>
                                    </div>
                                </md-input-container>
                            </div>
                          <!--  <div flex="10">
                                <md-button>
                                    <label for="imgUpload">Фото (до 5 шт.)</label>
                                </md-button>
                                <input id="imgUpload" type="file" nv-file-select="uploader" queueLimit="5" uploader="uploader" multiple style="display: none">
                            </div>-->


                        </div>

                        <div layout="row" layout-sm="column">

                            <div flex="25">
                                <md-input-container>
                                    <md-checkbox ng-model="car.isAutomatic" aria-label='Трансмиссия'>
                                        Автоматическая трансмиссия
                                    </md-checkbox>
                                </md-input-container>
                            </div>

                            <div flex="25">
                                <md-input-container>
                                    <md-checkbox ng-model="car.isRight" aria-label='Правосторонний руль'>
                                        Правосторонний руль
                                    </md-checkbox>
                                </md-input-container>
                            </div>


                            <div flex="25">
                                <md-input-container>
                                    <md-checkbox ng-model="car.conditioning" aria-label='Кондиционер'>
                                        Кондиционер
                                    </md-checkbox>
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row" layout-sm="column">
                            <div flex="50" flex-sm="100">
                                <md-input-container>
                                    <label>Дополнительно(рус.)</label>
                                    <textarea ng-model="car.description.ru"></textarea>
                                </md-input-container>
                            </div>

                        </div>
                        <div layout="row">
                            <div flex="50" flex-sm="100">
                                <md-input-container>
                                    <label>Дополнительно(анг.)</label>
                                    <textarea ng-model="car.description.en"></textarea>
                                </md-input-container>
                            </div>

                        </div>

                            <div layout="row">

                                <div flex="100" style="text-align: center" ng-if="!selected.isUpdate">
                                    <input type="submit" class="btn" value="Добавить">
                                </div>
                                <div flex="100" style="text-align: center" ng-if="selected.isUpdate">
                                    <input type="submit" class="btn" value="Сохранить">
                                </div>
                            </div>

                       </div>

                        <div class="col-sm-3">
                            <div layout="row">
                               <div flex="100">
                                   <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_place_24px.svg">
                                       <md-tooltip md-direction="left">
                                           Адрес выдачи
                                       </md-tooltip>
                                   </md-icon>
                                   <md-input-container>
                                       <md-select ng-model="car.location" ng-model-options="{trackBy: '$value.id'}">
                                           <md-option ng-repeat="location in collections.location" ng-value="location">
                                               {{location.name}}
                                           </md-option>
                                       </md-select>
                                   </md-input-container>


                               </div>
                            </div>

                            <div layout="row">
                                <div flex="100">
                                    <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_error_24px.svg">
                                        <md-tooltip md-direction="left">
                                            Требования к клиенту
                                        </md-tooltip>
                                    </md-icon>
                                    <md-input-container>
                                        <md-select ng-model="car.customerRequirements" ng-model-options="{trackBy: '$value.id'}">
                                            <md-option ng-repeat="requirement in collections.customerRequirements" ng-value="requirement">
                                                {{requirement.title}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>


                                </div>
                            </div>

                            <div layout="row">
                                <div flex="100">
                                    <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_assignment_turned_in_24px.svg"></md-icon>
                                        <md-tooltip md-direction="left">
                                            Условия аренды
                                        </md-tooltip>
                                    </md-icon>
                                    <md-input-container>
                                        <md-select ng-model="car.rentConditions" ng-model-options="{trackBy: '$value.id'}">
                                            <md-option ng-repeat="condition in collections.rentConditions" ng-value="condition">
                                                {{condition.title}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="row">
                                <div flex="100">
                                    <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_extension_24px.svg"></md-icon>
                                    <md-tooltip md-direction="left">
                                        Тарифные опции
                                    </md-tooltip>
                                    </md-icon>
                                    <md-input-container>
                                        <md-select ng-model="car.priceOptionGroup" ng-model-options="{trackBy: '$value.id'}">
                                            <md-option ng-repeat="group in collections.priceOptionGroup" ng-value="group">
                                                {{group.title}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="row">
                                <div flex="100">
                                    <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_monetization_on_gray_24px.svg"></md-icon>
                                    <md-tooltip md-direction="left">
                                        Тарификация
                                    </md-tooltip>
                                    </md-icon>
                                    <md-input-container>
                                        <md-select ng-model="car.pricePlan" ng-model-options="{trackBy: '$value.id'}">
                                            <md-option ng-repeat="plan in collections.pricePlan" ng-value="plan">
                                               {{plan.title}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="row">
                                <div flex="100">
                                    <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_check_box_24px.svg"></md-icon>
                                    <md-tooltip md-direction="left">
                                        Статус
                                    </md-tooltip>
                                    </md-icon>
                                    <md-input-container>
                                        <md-select ng-model="car.status" ng-model-options="{trackBy: '$value.id'}">
                                            <md-option ng-repeat="status in collections.status" ng-value="status">
                                                {{status.title.ru}} / {{status.description.ru}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <span></span>
                                </div>
                            </div>

                            <div layout="row">
                                <div flex="100">
                                    <ul class="no-margin">
                                        <li>
                                            <choose-file-button>
                                                <md-button class="no-margin"  ng-hide="!car.id || car.images.length === 5">
                                                    <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_insert_photo_24px.svg" class="no-margin"></md-icon>
                                                    Добавить фотографию (не более {{imagesLeft}})
                                                </md-button>
                                                <input name="image" type="file"  nv-file-select="" uploader="uploader" accept="image/x-png, image/gif, image/jpeg" />

                                            </choose-file-button>

                                        </li>



                                        <li ng-repeat="image in car.images" class="image-controls-container">
                                            <img class="thumbnail" ng-src="{{image.url}}" alt="{{car.model.title}}">
                                            <md-input-container>
                                                <md-button class="md-fab md-mini md-warn md-button md-ink-ripple"
                                                           ng-click="removeImage(car,image)">
                                                    <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_delete_24px.svg"></md-icon>
                                                    <md-tooltip>Удалить</md-tooltip>
                                                </md-button>
                                            </md-input-container>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>





                    </form>







                </md-content>
            </div>



        </div>
        <div class="row">
            <div flex="100" style="text-align: center">
                <span class="error" ng-show="err">Ошибка</span>
                <span ng-bind-html="errMsg" class="error"></span>
            </div>
        </div>

    </section>
</div>
