<div class="page" ng-controller="PriceCtrl">
    <section class="md-content-section">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Тарифные планы
            </div>
        </md-toolbar>
        <div class="row">
            <div class="col-sm-12">
                <md-content class="frm-container">
                    <div layout="row">
                        <md-menu>
                            <md-button ng-click="openMenu($mdOpenMenu,$event)">
                             <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_add_box_24px.svg"></md-icon>
                                Добавить тарифный план
                            </md-button>
                            <md-menu-content>
                                <md-menu-item ng-repeat="priceType in priceTypes">
                                    <md-button ng-click="addPlan(priceType)">
                                        {{priceType.title}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>


                    </div>

                    <form name="frm">
                        <v-accordion class="vAccordion--default" multiple control="accordion">
                            <v-pane ng-repeat="plan in plans" id="{{$index}}">
                                    <v-pane-header class="no-border" ng-click="onPlanSelect(plan, $index)">

                                        <div layout="row" layout-sm="column">
                                            <div flex="20" flex-sm="100">
                                                <md-input-container md-no-float
                                                                    md-is-error="frm['title' + $index].$invalid && (frm['title' + $index].$submitted || frm['title' + $index].$dirty)">

                                                    <label>Название ({{plan.pricePlanType.title}})</label>

                                                    <input name="title{{$index}}" ng-model="plan.title" type="text"
                                                           ng-required="true" ng-click="$event.stopPropagation();" ng-keypress="$event.stopPropagation();">

                                                    <div ng-messages="frm['title' + $index].$error"
                                                         ng-if="frm['title' + $index].$error.required">
                                                        <div ng-message="required">Обязательное поле</div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <div flex="20" flex-sm="100">
                                                <md-input-container>
                                                    <label>Ограничение (км)</label>
                                                    <input name="limit{{$index}}" ng-model="plan.runLimit" type="number" ng-required="true" integer ng-click="$event.stopPropagation();" min="1">
                                                </md-input-container>
                                            </div>

                                            <div flex="20" flex-sm="100">
                                                <md-input-container>
                                                    <label>Перепробег (руб)</label>
                                                    <input name="overrun{{$index}}" ng-model="plan.overrun"
                                                           type="number" ng-required="true" integer
                                                           ng-click="$event.stopPropagation();" min="0">
                                                </md-input-container>
                                            </div>


                                            <div flex="20" flex-sm="100">
                                                <md-input-container>
                                                    <label>Общая скидка (%)</label>
                                                    <input name="discount{{$index}}" ng-model="plan.discount" type="number" ng-required="true" ng-click="$event.stopPropagation();" min="0">
                                                </md-input-container>
                                            </div>



                                            <div flex="5">
                                                <md-input-container>
                                                    <md-button class="md-fab md-mini md-primary md-button md-ink-ripple" type="button"
                                                               aria-label="Добавить" ng-click="accordion.expand($index);add2Plan($event,plan);" ng-disabled="Object.keys(plan.price).length === plan.pricePlanType.max">
                                                        <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_add_circle_48px.svg"></md-icon>
                                                        <md-tooltip>Добавить</md-tooltip>

                                                    </md-button>
                                                </md-input-container>

                                            </div>


                                            <div flex="5" layout-align-sm="center center">
                                                <md-input-container>
                                                    <button class="md-fab md-mini md-primary md-button md-ink-ripple green"
                                                            type="button" aria-label="Сохранить" ng-click="savePlan($event, plan, frm, $index);">
                                                        <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_save_48px.svg"></md-icon>
                                                        <md-tooltip>Сохранить</md-tooltip>
                                                    </button>
                                                </md-input-container>
                                            </div>

                                            <div flex="5" layout-align-sm="center center">
                                                <md-input-container>
                                                    <md-button class="md-fab md-mini md-warn md-button md-ink-ripple"
                                                               ng-click="destroyPlan($event,plan, $index)">
                                                        <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_delete_48px.svg"></md-icon>
                                                        <md-tooltip>Удалить</md-tooltip>
                                                    </md-button>
                                                </md-input-container>
                                            </div>

                                        </div>
                                    </v-pane-header>

                                    <!-- Pane content -->
                                    <v-pane-content>

                                        <div layout="row">
                                            <div flex="100" ng-show="plan.price | isEmpty" style="text-align:center">
                                                <span class="pale">Пусто</span>
                                            </div>
                                            <div flex="100" style="text-align:center;height:100px" ng-hide="plan.ready">
                                                <div class="progress-container">
                                                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>

                                                </div>
                                            </div>
                                        </div>

                                        <div layout="row" layout-align="center none" layout-sm="column"
                                             ng-repeat="(key, value) in plan.price" ng-show="plan.ready">
                                            <div flex="10">
                                                <md-input-container>
                                                    <label>{{plan.price[key].selected || plan.pricePlanType.dataType}}</label>
                                                    <md-select name="select{{key + $parent.$index}}" ng-model="plan.price[key].selected" ng-change="onPriceSelect(plan, key)" ng-required>
                                                        <md-option ng-repeat="val in plan.price[key]['possibleValues']">{{val}}</md-option>
                                                    </md-select>
                                                    <div ng-messages="frm['select' + key + $parent.$index].$error">
                                                        <div ng-message="required">Обязательное поле</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div flex="20">
                                                <md-input-container>
                                                    <label>Без ограничения (руб.)</label>
                                                    <input type="number" name="unlimited{{key}}{{$parent.$index}}" ng-model="plan.price[key]['unlimited']" min="1" integer ng-click="$event.stopPropagation()">
                                                    <div ng-messages="frm['unlimited' + key + $parent.$index].$error">
                                                        <div ng-message="required">Обязательное поле</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div flex="20">
                                                <md-input-container>
                                                    <label>С ограничением (руб.)</label>
                                                    <input type="number" ng-model="plan.price[key]['limited']" min="1" integer name="limited{{key}}{{$parent.$index}}">
                                                    <div ng-messages="frm['limited' + key + $parent.$index].$error">
                                                        <div ng-message="required">Обязательное поле</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div flex="10">
                                                <md-input-container>
                                                    <label>Скидка (%)</label>
                                                    <input type="number" ng-model="plan.price[key]['discount']" min="0" integer name="discount{{key}}{{$parent.$index}}">
                                                    <div ng-messages="frm['discount' + key + $parent.$index].$error">
                                                        <div ng-message="required">Обязательное поле</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div flex="5">
                                                <a href="#" ng-click="removePrice(plan,key)" class="destroy-sign">&cross;</a>
                                            </div>



                                        </div>

                                    </v-pane-content>


                            </v-pane>




                        </v-accordion>

                    </form>









                    <span class="error" ng-show="err">Ошибка</span>
                </md-content>
            </div>


        </div>

    </section>
</div>
