

<div id="nav-wrapper" class="md-whiteframe-z2">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="navigation-profile-picture">
          <a href="#/">
            <img src="dist/images/user.png" alt="" class="img80_80 img-circle">
          </a>
        </li>
        <li>
            <a md-ink-ripple="#bbb" href="#/dashboard">
              <md-icon md-svg-src="dist/img/icons/ic_dashboard_24px.svg"></md-icon>
              <span>Dashboard</span>
            </a>
            <ul>
                <li><a md-ink-ripple="#bbb" active href="#/dashboard/dashboard"><i class="fa fa-circle submenu__icon"></i><span> Dashboard</span></a></span></li>
                <li><a md-ink-ripple="#bbb" active href="#/dashboard/dashboard1"><i class="fa fa-circle submenu__icon"></i><span> Dashboard 1</span></a></span></li>
                <li><a md-ink-ripple="#bbb" active href="#/dashboard/dashboard2"><i class="fa fa-circle submenu__icon"></i><span> Dashboard 2</span></a></li>
            </ul>
        </li>
        <li>
            <a md-ink-ripple="#bbb" href="#/ui">
              <md-icon md-svg-src="dist/img/icons/ic_layers_24px.svg"></md-icon>
              <span>Ui Elements</span></a>
            <ul>
                <li><a md-ink-ripple="#bbb" href="#/ui/material-design"><i class="fa fa-circle submenu__icon"></i><span> Material UI</span></a></span></li>
                <li><a md-ink-ripple="#bbb" href="#/ui/buttons"><i class="fa fa-circle submenu__icon"></i><span> Buttons</span></a></span></li>
                <li><a md-ink-ripple="#bbb" href="#/ui/cards"><i class="fa fa-circle submenu__icon"></i><span> Cards</span></a></span></li>
                <li><a md-ink-ripple="#bbb" href="#/ui/widgets"><i class="fa fa-circle submenu__icon"></i><span>Widgets </span><span class="badge badge-success">Trendy</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/ui/grids"><i class="fa fa-circle submenu__icon"></i><span> Grids</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/ui/icons"><i class="fa fa-circle submenu__icon"></i><span> Icons</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/ui/typography"><i class="fa fa-circle submenu__icon"></i><span> Typography</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/ui/components"><i class="fa fa-circle submenu__icon"></i><span> Bootstrap UI</span> <span class="badge badge-info">new</span></a></li>
                <!--<li><a href="#/ui/timeline"><i class="fa fa-circle submenu__icon"></i> Timeline</a></li>-->
                <li><a md-ink-ripple="#bbb" href="#/ui/nested-lists"><i class="fa fa-circle submenu__icon"></i><span>Nested Lists</span></a></li>
            </ul>
        </li>
        <li>
            <a md-ink-ripple="#bbb" href="#/pages">
              <md-icon md-svg-src="dist/img/icons/ic_pages_24px.svg"></md-icon>
              <span> Custom Pages </span></a>
            <ul>
                <li><a md-ink-ripple="#bbb" href="#/pages/signin"><i class="fa fa-circle submenu__icon"></i><span> Sign in</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/pages/signup"><i class="fa fa-circle submenu__icon"></i><span> Sign up</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/pages/forgot"><i class="fa fa-circle submenu__icon"></i><span> Request password</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/pages/profile"><i class="fa fa-circle submenu__icon"></i><span> User page</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/pages/404"><i class="fa fa-circle submenu__icon"></i><span> 404</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/pages/500"><i class="fa fa-circle submenu__icon"></i><span> 500</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/pages/contact"><i class="fa fa-circle submenu__icon"></i><span> Contact</span></a></li>
            </ul>
        </li>
        <li>
            <a md-ink-ripple="#bbb" href="#/table">
              <md-icon md-svg-src="dist/img/icons/ic_view_module_24px.svg"></md-icon>
              <span> Table styles</span></a>
            <ul>
                <li><a md-ink-ripple="#bbb" href="#/tables/static"><i class="fa fa-circle submenu__icon"></i><span> Normal</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/tables/responsive"><i class="fa fa-circle submenu__icon"></i><span> Responsive</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/tables/dynamic"><i class="fa fa-circle submenu__icon"></i><span> Dynamic</span></a></li>
            </ul>
        </li>
        <li>
            <a md-ink-ripple="#bbb" href="#/form">
              <md-icon md-svg-src="dist/img/icons/ic_transform_24px.svg"></md-icon>
              <span> Form elements</span></a>
            <ul>
                <li><a md-ink-ripple="#bbb" href="#/forms/elements"><i class="fa fa-circle submenu__icon"></i><span> Form elements</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/forms/validation"><i class="fa fa-circle submenu__icon"></i><span> Form validations</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/forms/wizard"><i class="fa fa-circle submenu__icon"></i><span>Form wizard</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/forms/layouts"><i class="fa fa-circle submenu__icon"></i><span> Form layouts</span></a></li>
            </ul>
        </li>
       <li>
            <a md-ink-ripple="#bbb" href="#/charts">
              <md-icon md-svg-src="dist/img/icons/ic_trending_up_24px.svg"></md-icon>
              <span> Charting</span></a>
            <ul>
                <li><a md-ink-ripple="#bbb" href="#/charts/morris"><i class="fa fa-circle submenu__icon"></i><span>Morris Charts</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/charts/chartjs"><i class="fa fa-circle submenu__icon"></i><span>Chart js</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/charts/flot"><i class="fa fa-circle submenu__icon"></i><span>Flot Charts</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/charts/others"><i class="fa fa-circle submenu__icon"></i><span>Other Charts</span></a></li>
            </ul>
        </li>
        <li>
            <a md-ink-ripple="#bbb" href="#/maps">
              <md-icon md-svg-src="dist/img/icons/ic_map_24px.svg"></md-icon>
              <span> Maps</span></a>
            <ul>
                <li><a md-ink-ripple="#bbb" href="#/maps/gmap"><i class="fa fa-circle submenu__icon"></i><span> Google</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/maps/jqvmap"><i class="fa fa-circle submenu__icon"></i><span> Vector</span></a></li>
            </ul>
        </li>
        <li class="nav-task">
            <a md-ink-ripple="#bbb" href="#/tasks">
              <md-icon md-svg-src="dist/img/icons/ic_done_all_24px.svg"></md-icon>
                <span> Tasks</span>
                <span class="badge badge-danger main-badge">{{navInfo.tasks_number}}</span>
            </a>
        </li>
        <!--<li class="nav-footer">
            <div class="nav-footer__footer-info" data-ng-controller="chartingCtrl">

                <div class="list-separator">

                </div>

                <div class="pull-left">
                    <div easypiechart options="easypiesmall1.options" percent="easypiesmall1.percent" class="easypiechartsmall">
                                    <span class="pie-percent">
                                        <md-icon class="" md-svg-src="dist/img/icons/ic_bluetooth_connected_24px.svg"></md-icon>
                                    </span>
                    </div>
                </div>
                <div class="right-info">
                    <p class="">Bluetooth connectivity</p>
                </div>

            </div>
        </li>-->
    </ul>

</div>