<div class="page" ng-controller="PlaceCtrl">
    <section class="md-content-section">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Точки выдачи
            </div>
        </md-toolbar>
        <div class="row">
            <div class="col-sm-12">
                <md-content class="frm-container">
                    <div layout="row">

                        <div flex="100" style="text-align:center;height:300px" ng-hide="map.ready">
                            <div class="progress-container" style="margin-top:100px;">
                                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                            </div>
                        </div>

                    </div>

                    <div layout="row" ng-show="map.ready" style="margin-top:16px;margin-bottom: 16px">
                        <div flex="5">
                            <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_info_24px.svg"></md-icon>
                        </div>
                        <div flex="95">
                             <span>
                                Введите адрес в поле ниже, выберите из контекстного меню необходимый адрес. Для изменения перетащите маркер на карте.
                                Удалить точку выдачи нельзя в случае, если она используется вашими машинами в системе.
                            </span>
                        </div>
                    </div>

                    <div layout="row" ng-show="map.ready" style="margin-top:16px">
                        <div flex="100">
                            <div id="searchContainer" style="width:100%;"></div>
                        </div>
                    </div>
                    <div layout="row" layout-sm="column" ng-if="map.ready">

                        <div flex="70" flex-xs="100" class="angular-google-map-container">
                            <ui-gmap-google-map center="map.center" zoom="map.zoom"
                                                refresh="map.ready">
                                <ui-gmap-search-box template="search.template" events="search.events"
                                                    parentdiv="'searchContainer'"></ui-gmap-search-box>
                                <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events"
                                                idkey="marker.id" ng-repeat="marker in map.markers">

                                </ui-gmap-marker>
                            </ui-gmap-google-map>

                            <h2 ng-bind="selectedLocation | placeTitle"></h2>

                            <business-hours style="width: 100%;" ng-model="selectedLocation.businessHours"
                                            hour-delta="{{config.hourDelta}}" step="{{config.step}}"
                                            on-change="businessHoursChange(selectedLocation)"></business-hours>


                        </div>

                        <div flex="30" flex-xs="100">
                            <md-content class="angular-google-map-container">
                                <md-list layout-padding md-no-ink>
                                    <md-list-item class="md-3-line" ng-repeat="location in locations">
                                        <md-checkbox ng-model="location.isDefault" ng-checked="location.isDefault === true" ng-click="cbClick($event,location)">
                                            <md-tooltip md-direction="top">
                                                Использовать как адрес по-умолчанию?
                                            </md-tooltip>
                                        </md-checkbox>
                                        <div class="md-list-item-text">
                                            <input type="text" class="md-input" ng-model="location.name"
                                                   ng-blur="onNameChange(location)" ng-click="$event.stopPropagation();"
                                                   placeholder="Название">
                                            <p class="hand" ng-click="onSelect($event,location)">
                                                {{location.title.ru}}
                                            </p>
                                        </div>
                                        <a href="#" ng-click="removePlace($event, location, $index);"
                                           class="destroy-sign"
                                           ng-show="!location.cars || location.cars.length === 0">&cross;</a>
                                    </md-list-item>
                                </md-list>
                            </md-content>

                            <!--   <md-virtual-repeat-container class="ui-map">
                                   <div md-virtual-repeat="location in locations"
                                        class="repeated-item" flex>
                                       <md-checkbox ng-model="location.isDefault" ng-checked="location.isDefault === true" ng-click="cbClick($event,location)">
                                           <md-tooltip md-direction="top">
                                               Использовать как адрес по-умолчанию?
                                           </md-tooltip>
                                       </md-checkbox>
                                       <div class="md-list-item-text">
                                           <input type="text" class="md-input" ng-model="location.name" ng-blur="onNameChange(location)" ng-click="$event.stopPropagation();" placeholder="Название">
                                           <p class="hand" ng-click="onSelect($event,location)">
                                               {{location.title.ru}}
                                           </p>
                                       </div>
                                       <a href="#" ng-click="removePlace($event, location, $index);"
                                          class="destroy-sign" ng-show="!location.cars || location.cars.length === 0">&cross;</a>
                                   </div>
                               </md-virtual-repeat-container>-->




                        </div>


                    </div>

                </md-content>
            </div>


        </div>

    </section>
</div>
