<md-toast class="md-default-theme">
    <md-icon md-svg-src="/assets/img/icons/ic_done_48px.svg" style="color: green"></md-icon>
    <span  ng-bind="text" class="md-toast-text" flex></span>
    <a style="float: right;margin:0;padding:0" class="btn"  ng-click="closeToast()">OK</a>
</md-toast>