a.md-button.md-default-theme.md-primary.md-raised, a.md-button.md-primary.md-raised, a.md-button.md-default-theme.md-primary.md-fab, a.md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab {
  color:  @frontColor;
  background-color:@backgroundColor;
}

a.md-button.md-default-theme.md-primary.md-raised:not([disabled]) md-icon, a.md-button.md-primary.md-raised:not([disabled]) md-icon, a.md-button.md-default-theme.md-primary.md-fab:not([disabled]) md-icon, a.md-button.md-primary.md-fab:not([disabled]) md-icon, .md-button.md-default-theme.md-primary.md-raised:not([disabled]) md-icon, .md-button.md-primary.md-raised:not([disabled]) md-icon, .md-button.md-default-theme.md-primary.md-fab:not([disabled]) md-icon, .md-button.md-primary.md-fab:not([disabled]) md-icon {
  color: @frontColor;

}

md-checkbox [ng-transclude] {
  pointer-events: none;
}