.number-container {
  position: relative;
  border-radius: 5px;
  margin: 26px 0 0 0;
  width: 380px;
  height: 79px;
  background: url('//static.selectdrive.ru/assets/images/number.jpg') no-repeat;

}

.number-container input {
  line-height: normal !important;
}

.number-container .ip1 {
  position: absolute;
  left: 18px;
  top: 31px;
  width: 32px;
  height: 34px;
  font-size: 30px;
  color: #959595;
  text-align: center;
  border: #b5b4b4 solid 1px;
  background: none;
}

.number-container .ip2  {
  position: absolute;
  left: 60px;
  top: 14px;
  width: 139px;
  height: 51px;
  font-size: 45px;
  color: #959595;
  text-align: center;
  border: #b5b4b4 solid 1px;
  background: none;
}
.number-container .ip3 {
  position: absolute;
  left: 209px;
  top: 31px;
  width: 66px;
  height: 34px;
  font-size: 30px;
  color: #959595;
  text-align: center;
  border: #b5b4b4 solid 1px;
  background: none;
}
.number-container .ip4 {
  position: absolute;
  left: 300px;
  top: 9px;
  width: 66px;
  height: 34px;
  font-size: 30px;
  color: #959595;
  text-align: center;
  border: #b5b4b4 solid 1px;
  background: none;
}

@media (max-width: 500px) {
  .number-container {
    background: none;
  }
  .number-container .ip1 {
    display:inline;


  }
  .number-container .ip2 {
    display:inline;
    width:100px;



  }
  .number-container .ip3 {
    display:inline;
    left:172px;



  }
  .number-container .ip4 {
    left: 250px;
    top:31px;



  }
}
