/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;
@formFontSize: 16px;
@backgroundColor:#fde758;
@frontColor:#282828;
@dbContentColor:#757575;


