<div class="page" ng-controller="OptionCtrl">
    <section class="md-content-section">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Тарифные опции
            </div>
        </md-toolbar>
        <md-content class="frm-container">
            <div layout="row" layout-sm="column">

                <div flex="55" flex-sm="100">
                    <div layout="row">
                        <div flex="100">
                            <md-button ng-click="addGroup()">
                                <md-icon
                                        md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_add_box_24px.svg"></md-icon>
                                Добавить группу опций
                            </md-button>
                        </div>
                    </div>
                    <form name="frm" class="form-group">
                        <v-accordion class="vAccordion--default" multiple control="accordion">
                            <v-pane ng-repeat="group in groups">
                                <v-pane-header class="no-border">
                                    <div layout="row">

                                        <div flex="5" flex-sm="10" layout-align-sm="center center">
                                            <md-input-container md-no-ink>
                                                <md-checkbox ng-model="group.isDefault"
                                                             ng-checked="group.isDefault === true"
                                                             ng-click="cbClick($event,group)">
                                                    <md-tooltip md-direction="bottom">
                                                        Использовать по-умолчанию?
                                                    </md-tooltip>
                                                </md-checkbox>
                                            </md-input-container>
                                        </div>

                                        <div flex="30">
                                            <md-input-container>
                                                <input type="text" ng-model="group.title" name="title{{$index}}"
                                                       ng-required="true" ng-click="$event.stopPropagation();"
                                                       ng-keydown="onKeyDown($event)">
                                                <div ng-messages="frm['title' + $index].$error"
                                                     ng-if="frm['title' + $index].$error.required">
                                                    <div ng-message="required">Обязательное поле</div>
                                                </div>
                                            </md-input-container>
                                        </div>

                                        <div flex="10" flex-sm="15">
                                            <md-input-container>
                                                <md-button class="md-fab md-mini md-primary md-button md-ink-ripple"
                                                           type="button"
                                                           aria-label="Добавить"
                                                           ng-click="accordion.expand($index);add($event, group)">
                                                    <md-icon
                                                            md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_add_circle_48px.svg"></md-icon>
                                                    <md-tooltip>Добавить в <strong>{{group.title}}</strong></md-tooltip>
                                                </md-button>
                                            </md-input-container>
                                        </div>

                                        <div flex="10" flex-sm="15">
                                            <md-input-container>
                                                <button class="md-fab md-mini md-primary md-button md-ink-ripple green"
                                                        type="button" aria-label="Сохранить"
                                                        ng-click="save($event, group, frm, $index);">
                                                    <md-icon
                                                            md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_save_48px.svg"></md-icon>
                                                    <md-tooltip>Сохранить <strong>{{group.title}}</strong></md-tooltip>
                                                </button>
                                            </md-input-container>
                                        </div>

                                        <div flex="10" flex-sm="15">
                                            <md-input-container>

                                                <md-button class="md-fab md-mini md-warn md-button md-ink-ripple"
                                                           ng-click="destroyGroup($event,group, $index)">
                                                    <md-icon
                                                            md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_delete_48px.svg"></md-icon>
                                                    <md-tooltip>Удалить <strong>{{group.title}}</strong></md-tooltip>
                                                </md-button>

                                            </md-input-container>
                                        </div>
                                    </div>

                                </v-pane-header>


                                <v-pane-content>
                                    <div layout="column" layout-sm="column">
                                        <div flex="100" ng-show="group.options | isEmpty" layout-align="center center">
                                            <span class="pale">Пусто</span>
                                        </div>

                                        <div layout="row"
                                             ng-repeat="option in group.options | orderBy:'-id'"
                                             layout-align="start center">


                                            <div flex="50" flex-sm="75">
                                                <md-input-container>
                                                    <label>Тарифная опция</label>
                                                    <md-select name="option_select_{{$parent.$index}}{{$index}}"
                                                               ng-model="option.priceOption"
                                                               ng-required="data.priceOption">
                                                        <md-option
                                                                ng-repeat="priceOption in priceOptions | orderBy:'title.ru'"
                                                                ng-value="priceOption.id">

                                                            <img ng-if="priceOption.image" class="option-thumb"
                                                                 ng-src="{{priceOption.image}}"
                                                                 alt="{{priceOption.title.ru}}"/>

                                                            {{priceOption.title.ru}}
                                                        </md-option>
                                                    </md-select>
                                                    <div ng-messages="frm['option_select_' + $parent.$index + $index].$error">
                                                        <div ng-message="required">Обязательное поле</div>
                                                    </div>
                                                </md-input-container>

                                            </div>

                                            <div flex="20">
                                                <md-input-container>
                                                    <label>Цена</label>

                                                    <input name="price_{{$parent.$index}}{{$index}}" type="number"
                                                           ng-model="option.price" ng-required="true"
                                                           ng-pattern="/^[0-9]*$/">

                                                    <div ng-messages="frm['price_' + $parent.$index + $index].$error">
                                                        <div ng-message="required">Обязательное поле</div>
                                                        <div ng-message="pattern">Используйте только цифры</div>
                                                    </div>


                                                </md-input-container>

                                            </div>
                                            <div flex="5">
                                                <a href="#" ng-click="remove(option,group)"
                                                   class="destroy-sign">&cross;</a>
                                            </div>


                                        </div>
                                    </div>


                                </v-pane-content>


                            </v-pane>


                        </v-accordion>


                    </form>

                </div>
                <div flex="5" hide-xs>&nbsp;</div>
                <div flex="40" flex-sm="100">
                    <div layout="row">
                        <div flex="100">
                            <md-button ng-click="addOption()">
                                <md-icon
                                        md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_add_box_24px.svg"></md-icon>
                                Добавить свою опцию
                            </md-button>
                        </div>
                    </div>
                    <form name="frm2">
                        <v-accordion class="vAccordion--default" multiple control="accordion2">
                            <v-pane ng-repeat="customOption in customOptions">
                                <v-pane-header class="no-border">
                                    <div layout="row">
                                        <div flex="50">
                                            <md-input-container>
                                                <label>Название (рус.)</label>
                                                <input type="text"
                                                       name="title_ru{{$index}}"
                                                       ng-model="customOption.title.ru"
                                                       ng-required="true" ng-click="$event.stopPropagation();"
                                                       ng-keydown="onKeyDown($event)">
                                                <div ng-messages="frm2['title_ru' + $index].$error"
                                                     ng-if="frm2['title_ru' + $index].$error.required">
                                                    <div ng-message="required">Обязательное поле</div>
                                                </div>
                                            </md-input-container>

                                        </div>
                                        <div flex="15" flex-sm="20">
                                            <md-input-container>
                                                <button class="md-fab md-mini md-primary md-button md-ink-ripple green"
                                                        type="button" aria-label="Сохранить"
                                                        ng-click="saveOption($event, customOption, frm2);">
                                                    <md-icon
                                                            md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_save_48px.svg"></md-icon>
                                                    <md-tooltip>Сохранить</md-tooltip>
                                                </button>
                                            </md-input-container>
                                        </div>
                                        <div flex="15" flex-sm="20">
                                            <md-input-container>
                                                <md-button class="md-fab md-mini md-warn md-button md-ink-ripple"
                                                           ng-click="destroyOption($event, customOption, frm2)">
                                                    <md-icon
                                                            md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_delete_48px.svg"></md-icon>
                                                    <md-tooltip>Удалить</md-tooltip>
                                                </md-button>
                                            </md-input-container>
                                        </div>

                                    </div>
                                </v-pane-header>

                                <v-pane-content class="form-group">

                                    <div layout="row">
                                        <div flex="100" flex-offset="5">
                                            <md-input-container>
                                                <label>Описание (рус.)</label>
                                                <input type="text" ng-model="customOption.description.ru">
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div layout="row">
                                        <div flex="50" flex-offset="5">
                                            <md-input-container>
                                                <label>Название (англ.)</label>
                                                <input type="text"
                                                       name="title_en{{$index}}"
                                                       ng-model="customOption.title.en"
                                                       ng-pattern="/^[a-zA-Z0-9 ]*$/">
                                                <div ng-messages="frm2['title_en' + $index].$error"
                                                     ng-if="frm2['title_en' + $index].$error.pattern">
                                                    <div ng-message="pattern">Обязательное поле</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div layout="row">
                                        <div flex="100" flex-offset="5">
                                            <md-input-container>
                                                <label>Описание (англ.)</label>
                                                <input type="text" ng-model="customOption.description.en">

                                            </md-input-container>
                                        </div>
                                    </div>
                                </v-pane-content>

                            </v-pane>


                        </v-accordion>
                    </form>

                </div>

            </div>

            <div layout="row" layout-align="center center">
                <div>
                    <span class="error" ng-show="err">Ошибка</span>

                </div>
            </div>

        </md-content>


    </section>
</div>
