<div class="page">

<section class="md-content-section">

  <div class="row">
    <div class="col-md-5">
      <h2>Button links</h2>
      <div>
        <p>
          Buttons are included with the <code>.md-button</code> directive. You can make all sorts og buttons from links to raised and not
          raised buttons. All including the styling of material design.
        </p>
        <p>
          Disabled sytling can be done using <code>ng-disabled="true"</code> attribute.
        </p>
      </div>
    </div>
    <div class="col-md-7">
      <md-content>
        <div class="md-content__body">
          <table class="table">
            <thead>
            <tr>
              <td>
                Code Fill
              </td>
              <td>
                Filled style
              </td>
              <td>
                Disabled style
              </td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <code>.md-default</code>
              </td>
              <td>
                <!--<button type="button" class="btn btn-width-medium btn-sp-v btn-default">Default</button>-->
                <md-button aria-label="Button" class="btn-width-medium">Button</md-button>
              </td>
              <td>
                <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium ">Button</md-button>
              </td>
            </tr>
            <tr>
              <td>
                <code>.md-primary</code>
              </td>
              <td>
                <!--<button type="button" class="btn btn-width-medium btn-sp-v btn-primary">Primary</button>-->
                <md-button aria-label="Button" class="btn-width-medium md-primary">Primary</md-button>
              </td>
              <td>
                <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium md-primary">Primary</md-button>
              </td>
            </tr>
            <tr>
              <td>
                <code>.md-accent</code>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-accent">Accent</md-button>
              </td>
              <td>
                <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium md-accent">Accent</md-button>
              </td>
            </tr>
            <tr>
              <td>
                <code>.md-success</code>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium  md-success">Success</md-button>
              </td>
              <td>
                <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium  md-success">Success</md-button>
              </td>
            </tr>
            <tr>
              <td>
                <code>.md-info</code>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium  md-info">Info</md-button>
              </td>
              <td>
                <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium  md-info">Info</md-button>
              </td>
            </tr>
            <tr>
              <td>
                <code>.md-warning</code>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium  md-warning">Warning</md-button>
              </td>
              <td>
                <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium  md-warning">Warning</md-button>
              </td>
            </tr>
            <tr>
              <td>
                <code>.md-danger</code>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium  md-danger">Danger</md-button>
              </td>
              <td>
                <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium  md-danger">Danger</md-button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </md-content>
    </div>
  </div>

</section>

<hr/>

<section class="md-content-section">

  <div class="row">
    <div class="col-md-5">
      <h2>Raised buttons</h2>
      <div>
        <p>
          Buttons are included with the <code>.md-button</code> directive. You can make all sorts og buttons from links to raised and not
          raised buttons. All including the styling of material design.
        </p>
        <p>
          Disabled sytling can be done using <code>ng-disabled="true"</code> attribute.
        </p>
      </div>
    </div>
    <div class="col-md-7">
      <md-content>
        <div class="md-content__body">
          <table class="table">
            <thead>
            <tr>
              <td>
                Code Fill
              </td>
              <td>
                Filled style
              </td>
              <td>
                Disabled style
              </td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <code>.md-default</code>
              </td>
              <td>
                <!--<button type="button" class="btn btn-width-medium btn-sp-v btn-default">Default</button>-->
                <md-button aria-label="Button" class="btn-width-medium md-raised">Button</md-button>
              </td>
              <td>
                <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium md-raised">Button</md-button>
              </td>
            </tr>
            <tr>
              <td>
                <code>.md-primary</code>
              </td>
              <td>
                <!--<button type="button" class="btn btn-width-medium btn-sp-v btn-primary">Primary</button>-->
                <md-button aria-label="Button" class="btn-width-medium md-raised md-primary">Primary</md-button>
              </td>
              <td>
                <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium md-raised md-primary">Primary</md-button>
              </td>
            </tr>
            <tr>
              <td>
                <code>.md-accent</code>
              </td>
              <td>
                <!--<button type="button" class="btn btn-width-medium btn-sp-v btn-primary">Primary</button>-->
                <md-button aria-label="Button" class="btn-width-medium md-raised md-accent">Accent</md-button>
              </td>
              <td>
                <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium md-raised md-accent">Accent</md-button>
              </td>
            </tr>
            <tr>
              <td>
                <code>.md-success</code>
              </td>
              <td>
                <md-button aria-label="Button"  class="btn-width-medium md-raised md-success">Success</md-button>
              </td>
              <td>
                <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium md-raised md-success">Success</md-button>
              </td>
            </tr>
            <tr>
              <td>
                <code>.md-info</code>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-info">Info</md-button>
              </td>
              <td>
                <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium md-raised md-info">Info</md-button>
              </td>
            </tr>
            <tr>
              <td>
                <code>.md-warning</code>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-warning">Warning</md-button>
              </td>
              <td>
                <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium md-raised md-warning">Warning</md-button>
              </td>
            </tr>
            <tr>
              <td>
                <code>.md-danger</code>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-danger">Danger</md-button>
              </td>
              <td>
                <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium md-raised md-danger">Danger</md-button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </md-content>
    </div>
  </div>

</section>

<hr/>

<section class="md-content-section">

  <div class="row">
    <div class="col-md-5">
      <h2>Fabs</h2>
      <div>
        <p>
          Fabs are an amazing and very functional style of buttons. They can be used pretty much anywhere to give quick actions to the user.
        </p>
        <p>
          Fabs can be inserted using <code>class="md-fab"</code> and inserting an SVG icon inside (available inside the theme with the material design collection of SVG Images).
        </p>
        <p>
          All previous variations are available for fabs as well.
        </p>
      </div>
    </div>
    <div class="col-md-7">
      <md-content>
        <div class="md-content__body">
          <table class="table">
            <thead>
            <tr>
              <td>
                Code Fill
              </td>
              <td>
                Filled style
              </td>
              <td>
                Disabled
              </td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <code>.md-default</code>
              </td>
              <td>
                <md-button class="md-fab middle-right" aria-label="Eat cake">
                  <md-icon md-svg-src="dist/img/icons/ic_cake_24px.svg"></md-icon>
                </md-button>
              </td>
              <td>
                <md-button ng-disabled="true" class="md-fab middle-right" aria-label="Eat cake">
                  <md-icon md-svg-src="dist/img/icons/ic_cake_24px.svg"></md-icon>
                </md-button>
              </td>
            </tr>
            <tr>
              <td>
                <code>.md-primary</code>
              </td>
              <td>
                <md-button class="md-fab md-primary" aria-label="Use Android">
                  <md-icon md-svg-src="dist/img/icons/ic_pages_24px.svg"></md-icon>
                </md-button>
              </td>
              <td>
                <md-button ng-disabled="true" class="md-fab md-primary" aria-label="Use Android">
                  <md-icon md-svg-src="dist/img/icons/ic_pages_24px.svg"></md-icon>
                </md-button>
              </td>
            </tr>
            <tr>
              <td>
                <code>.md-accent</code>
              </td>
              <td>
                <md-button class="md-fab md-accent" aria-label="Use Android">
                  <md-icon md-svg-src="dist/img/icons/ic_bluetooth_24px.svg"></md-icon>
                </md-button>
              </td>
              <td>
                <md-button ng-disabled="true" class="md-fab md-accent" aria-label="Use Android">
                  <md-icon md-svg-src="dist/img/icons/ic_bluetooth_24px.svg"></md-icon>
                </md-button>
              </td>
            </tr>
            <tr>
              <td>
                <code>.md-success</code>
              </td>
              <td>
                <md-button class="md-fab md-success" aria-label="Profile">
                  <md-icon md-svg-src="dist/img/icons/ic_healing_24px.svg"></md-icon>
                </md-button>
              </td>
              <td>
                <md-button ng-disabled="true" class="md-fab md-success" aria-label="Profile">
                  <md-icon md-svg-src="dist/img/icons/ic_healing_24px.svg"></md-icon>
                </md-button>
              </td>
            </tr>
            <tr>
              <td>
                <code>.md-info</code>
              </td>
              <td>
                <md-button class="md-fab md-info" aria-label="Use Android">
                  <md-icon md-svg-src="dist/img/icons/ic_location_off_24px.svg"></md-icon>
                </md-button>
              </td>
              <td>
                <md-button ng-disabled="true" class="md-fab md-info" aria-label="Use Android">
                  <md-icon md-svg-src="dist/img/icons/ic_location_off_24px.svg"></md-icon>
                </md-button>
              </td>
            </tr>
            <tr>
              <td>
                <code>.md-warning</code>
              </td>
              <td>
                <md-button class="md-fab md-warning" aria-label="Eat cake">
                  <md-icon md-svg-src="dist/img/icons/ic_inbox_24px.svg"></md-icon>
                </md-button>
              </td>
              <td>
                <md-button ng-disabled="true" class="md-fab md-warning" aria-label="Eat cake">
                  <md-icon md-svg-src="dist/img/icons/ic_inbox_24px.svg"></md-icon>
                </md-button>
              </td>
            </tr>
            <tr>
              <td>
                <code>.md-danger</code>
              </td>
              <td>
                <md-button class="md-fab md-danger" aria-label="Profile">
                  <md-icon md-svg-src="dist/img/icons/ic_airplanemode_off_24px.svg"></md-icon>
                </md-button>
              </td>
              <td>
                <md-button ng-disabled="true" class="md-fab md-danger" aria-label="Profile">
                  <md-icon md-svg-src="dist/img/icons/ic_airplanemode_off_24px.svg"></md-icon>
                </md-button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </md-content>
    </div>
  </div>

</section>

<hr/>

<section class="md-content-section">

  <div class="row">
    <div class="col-md-5">
      <h2>Speed dial Fabs</h2>
      <div>
        <p>
          Fabs are an amazing and very functional style of buttons. They can be used pretty much anywhere to give quick actions to the user.
        </p>
        <p>
          Fabs can be inserted using <code>class="md-fab"</code> and inserting an SVG icon inside (available inside the theme with the material design collection of SVG Images).
        </p>
        <p>
          All previous variations are available for fabs as well.
        </p>
      </div>
    </div>
    <div class="col-md-7">
      <md-content>
        <div class="md-content__body">
          <div ng-controller="SpeedFabCtrl" layout="column">
            <md-content class="md-padding" layout="column">
              <p>
                You may supply a direction of <code>left</code>, <code>up</code>, <code>down</code>, or
                <code>right</code> through the <code>md-direction</code> attribute.
              </p>
              <div class="lock-size" layout="row" layout-align="center center">
                <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
                                   ng-class="demo.selectedMode">
                  <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn">
                      <md-icon md-svg-src="dist/img/icons/ic_menu_24px.svg"></md-icon>
                    </md-button>
                  </md-fab-trigger>
                  <md-fab-actions>
                    <md-button aria-label="Airplane" class="md-fab md-raised md-mini md-primary">
                      <md-icon md-svg-src="dist/img/icons/ic_airplanemode_off_24px.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="Bluetooth" class="md-fab md-raised md-mini md-danger">
                      <md-icon md-svg-src="dist/img/icons/ic_bluetooth_24px.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="Google Inbox" class="md-fab md-raised md-mini md-warning">
                      <md-icon md-svg-src="dist/img/icons/ic_inbox_24px.svg"></md-icon>
                    </md-button>
                  </md-fab-actions>
                </md-fab-speed-dial>
              </div>
              <br/>
              <div layout="row" layout-align="space-around">
                <div layout="column">
                  <b>Direction</b>
                  <md-radio-group ng-model="demo.selectedDirection">
                    <md-radio-button ng-repeat="direction in demo.availableDirections"
                                     ng-value="direction" class="text-capitalize">
                      {{direction}}
                    </md-radio-button>
                  </md-radio-group>
                </div>
                <div layout="column">
                  <b>Open/Closed</b>
                  <md-radio-group ng-model="demo.isOpen">
                    <md-radio-button ng-value="true">Open</md-radio-button>
                    <md-radio-button ng-value="false">Closed</md-radio-button>
                  </md-radio-group>
                </div>
                <div layout="column">
                  <b>Animation Modes</b>
                  <md-radio-group ng-model="demo.selectedMode">
                    <md-radio-button ng-repeat="mode in demo.availableModes" ng-value="mode">
                      {{mode}}
                    </md-radio-button>
                  </md-radio-group>
                </div>
              </div>
              <p class="note">
                Note that you can also hover over the directive's area or tab through each button to open and
                activate the speed dial menu.
              </p>
            </md-content>
          </div>
        </div>
      </md-content>
    </div>
  </div>

</section>

<hr/>

<section class="md-content-section">

  <div class="row">
    <div class="col-md-5">
      <h2>Button sizes</h2>
      <div>
        <p>
          Buttons can have different widths by including different classes in the button.
        </p>
        <p>
          These classes are <code>btn-width-xs</code>, <code>btn-width-small</code>, <code>btn-width-medium</code> or <code>btn-width-large</code>
        </p>
        <p>
          You can combine this with the following classes to increase also in height
        </p>
      </div>
    </div>
    <div class="col-md-7">
      <md-content>
        <div class="md-content__body">
          <table class="table">
            <thead>
            <tr>
              <td>
                Extra small
              </td>
              <td>
                Small
              </td>
              <td>
                Middle
              </td>
              <td>
                Large
              </td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <md-button aria-label="Button" class="btn-width-xs md-raised md-primary">Xs</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-small md-raised md-primary">Small</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-primary">Middle</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-long md-raised md-primary">Large</md-button>
              </td>
            </tr>
            <tr>
              <td>
                <md-button aria-label="Button" class="btn-width-xs md-raised md-accent">Xs</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-small md-raised md-accent">Small</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-accent">Middle</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-long md-raised md-accent">Large</md-button>
              </td>
            </tr>
            <tr>
              <td>
                <md-button aria-label="Button" class="btn-width-xs md-raised md-default">Xs</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-small md-raised md-default">Small</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-default">Middle</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-long md-raised md-default">Large</md-button>
              </td>
            </tr>
            <tr>
              <td>
                <md-button aria-label="Button" class="btn-width-xs md-raised md-info">Xs</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-small md-raised md-success">Small</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-warning">Middle</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-long md-raised md-danger">Large</md-button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </md-content>
    </div>
  </div>

</section>

<hr/>

<section class="md-content-section">

  <div class="row">
    <div class="col-md-5">
      <h2>Button Sizes (height)</h2>
      <div>
        <p>
          Buttons can have different heights by including different classes in the button.
        </p>
        <p>
          These classes are <code>btn-sm</code>, <code>btn-xs</code>, <code>btn-lg</code> or no class for the default height.
        </p>
        <p>
          You can combine this with the previous classes to increase also in width
        </p>
      </div>
    </div>
    <div class="col-md-7">
      <md-content>
        <div class="md-content__body">
          <table class="table">
            <thead>
            <tr>
              <td>
                Large
              </td>
              <td>
                Default
              </td>
              <td>
                Small
              </td>
              <td>
                Extra small
              </td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-primary btn-lg">Large button</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-primary">Default</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-primary btn-sm">Small</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-primary btn-xs">Extra small</md-button>
              </td>
            </tr>
            <tr>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-accent btn-lg">Large button</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-accent">Default</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-accent btn-sm">Small</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-accent btn-xs">Extra small</md-button>
              </td>
            </tr>
            <tr>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-default btn-lg">Large button</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-default">Default</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-default btn-sm">Small</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-default btn-xs">Extra small</md-button>
              </td>
            </tr>
            <tr>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-info btn-lg">Large button</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-success">Default</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-warning btn-sm">Small</md-button>
              </td>
              <td>
                <md-button aria-label="Button" class="btn-width-medium md-raised md-danger btn-xs">Extra small</md-button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </md-content>
    </div>
  </div>

</section>

<hr/>

<section class="md-content-section">

  <div class="row">
    <div class="col-md-5">
      <h2>Button with direction</h2>
      <div>
        <p>
          You can make buttons with different directions by adding the <code>btn-direction</code> class and the respective direction
        </p>
        <p>
          Possible directions are <code>btn-up</code>, <code>btn-down</code>, <code>btn-left</code>, <code>btn-right</code>
        </p>
      </div>
    </div>
    <div class="col-md-7">
      <md-content>
        <div class="md-content__body">
          <div class="row">
            <div class="col-md-3">
              <p><md-button aria-label="Button" class="btn-width-medium btn-direction btn-up md-primary md-raised">Up</md-button></p>

              <p><md-button aria-label="Button" class="btn-width-medium btn-direction btn-up md-accent md-raised">Up</md-button></p>

              <p><md-button aria-label="Button" class="btn-width-medium btn-direction btn-up md-success md-raised">Up</md-button></p>

              <p><md-button aria-label="Button" class="btn-width-medium btn-direction btn-up md-info md-raised">Up</md-button></p>

              <p><md-button aria-label="Button" class="btn-width-medium btn-direction btn-up md-warning md-raised">Up</md-button></p>

              <p><md-button aria-label="Button" class="btn-width-medium btn-direction btn-up md-danger md-raised">Up</md-button></p>
            </div>
            <div class="col-md-6">
              <p>
                <md-button aria-label="Button" class="btn-width-xs btn-direction btn-left md-primary md-raised">Left</md-button>
                <md-button aria-label="Button" class="btn-width-xs btn-direction md-primary md-raised">Middle</md-button>
                <md-button aria-label="Button" class="btn-width-xs btn-direction btn-right md-primary md-raised">Right</md-button>
              </p>

              <p>
                <md-button aria-label="Button" class="btn-width-xs btn-direction btn-left md-accent md-raised">Left</md-button>
                <md-button aria-label="Button" class="btn-width-xs btn-direction md-accent md-raised">Middle</md-button>
                <md-button aria-label="Button" class="btn-width-xs btn-direction btn-right md-accent md-raised">Right</md-button>
              </p>

              <p>
                <md-button aria-label="Button" class="btn-width-xs btn-direction btn-left md-info md-raised">Left</md-button>
                <md-button aria-label="Button" class="btn-width-xs btn-direction md-info md-raised">Middle</md-button>
                <md-button aria-label="Button" class="btn-width-xs btn-direction btn-right md-info md-raised">Right</md-button>
              </p>

              <p>
                <md-button aria-label="Button" class="btn-width-xs btn-direction btn-left md-success md-raised">Left</md-button>
                <md-button aria-label="Button" class="btn-width-xs btn-direction md-success md-raised">Middle</md-button>
                <md-button aria-label="Button" class="btn-width-xs btn-direction btn-right md-success md-raised">Right</md-button>
              </p>
              <p>
                <md-button class="btn-width-xs btn-direction btn-left md-warning md-raised">Left</md-button>
                <md-button class="btn-width-xs btn-direction md-warning md-raised">Middle</md-button>
                <md-button class="btn-width-xs btn-direction btn-right md-warning md-raised">Right</md-button>
              </p>
              <p>
                <md-button class="btn-width-xs btn-direction btn-left md-danger md-raised">Left</md-button>
                <md-button class="btn-width-xs btn-direction md-danger md-raised">Middle</md-button>
                <md-button class="btn-width-xs btn-direction btn-right md-danger md-raised">Right</md-button>
              </p>
            </div>
            <div class="col-md-3">
              <p><md-button aria-label="Button" class="btn-width-medium btn-direction btn-down md-primary md-raised">Down</md-button></p>

              <p><md-button aria-label="Button" class="btn-width-medium btn-direction btn-down md-accent md-raised">Down</md-button></p>

              <p><md-button aria-label="Button" class="btn-width-medium btn-direction btn-down md-success md-raised">Down</md-button></p>

              <p><md-button aria-label="Button" class="btn-width-medium btn-direction btn-down md-info md-raised">Down</md-button></p>

              <p><md-button aria-label="Button" class="btn-width-medium btn-direction btn-down md-warning md-raised">Down</md-button></p>

              <p><md-button aria-label="Button" class="btn-width-medium btn-direction btn-down md-danger md-raised">Down</md-button></p>
            </div>
          </div>
        </div>
      </md-content>
    </div>
  </div>

</section>

<hr/>

<section class="md-content-section">

  <div class="row">
    <div class="col-md-5">
      <h2>Block buttons</h2>
      <div>
        <p>
          Block buttons go from one side of the container right to the end.
        </p>
        <p>
          To create a block button insert the <code>btn-block</code> inside a button. You can also combine with previous classes to increase height, width or give direction to the button.
        </p>
      </div>
    </div>
    <div class="col-md-7">
      <md-content>
        <div class="md-content__body">
          <md-button aria-label="Button" class="md-raised md-default btn-block">Default</md-button>
          <md-button aria-label="Button" class="md-raised md-primary btn-block">Primary</md-button>
          <md-button aria-label="Button" class="md-raised md-accent btn-block">Accent</md-button>
          <md-button aria-label="Button" class="md-raised md-info btn-block">Info</md-button>
          <md-button aria-label="Button" class="md-raised md-success btn-block">Success</md-button>
          <md-button aria-label="Button" class="md-raised md-warning btn-block">Warning</md-button>
          <md-button aria-label="Button" class="md-raised md-danger btn-block">Danger</md-button>
        </div>
      </md-content>
    </div>
  </div>

</section>

</div>
