<div class="page-signin" ng-controller="ConfirmCtrl">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/">
                    <img ng-src="//static.selectdrive.ru/assets/images/logo_ru.png" alt="Selectdrive">
                </a>
                <h6>Ваш логин:</h6>

                <h6>{{user.email}}</h6>

                <h6>Вам необходимо создать пароль к вашему аккаунту для дальнейшей работы с сервисом.</h6>
            </section>
        </div>
    </div>

    <div class="main-body">
        <div class="container">
            <div class="form-container">

                <form class="form-horizontal" ng-submit="submit(userFrm)" name="userFrm" novalidate ng-if="frm">
                    <fieldset>
                        <div class="form-group">
                            <md-input-container md-no-float md-is-error="userFrm.pass.$invalid && (userFrm.$submitted || userFrm.pass.$dirty)">
                                <label>Пароль</label>
                                <input id="pass" ng-model="user.password" type="password" name="pass" ng-required="true">
                                <div ng-messages="userFrm.pass.$error" ng-if="userFrm.pass.$error.required">
                                    <div ng-message="required">Обязательное поле</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="form-group">
                            <md-input-container class="md-block" md-no-float md-is-error="userFrm.passRepeat.$invalid && (userFrm.$submitted || userFrm.passRepeat.$dirty)">
                                <label>Повторите пароль</label>
                                <input password-check="pass" name="passRepeat" class="material-input" ng-required="true" type="password" ng-model="passRepeat">
                                <div ng-messages="userFrm.passRepeat.$error" ng-if="userFrm.$submitted && userFrm.passRepeat.$error.passwordmatch">
                                    <div ng-message="passwordmatch">Не совпадает</div>
                                </div>

                            </md-input-container>
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="form-group" style="text-align: center">
                            <!--
                                                      <md-button class="btn-width-large btn-block btn-lg md-primary md-raised">Вход</md-button>
                            -->
                            <input type="submit" class="btn no-margin" value="Сохранить">
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>

</div>