<div class="page" ng-controller="UserCtrl">
    <section class="md-content-section">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Ваши данные
            </div>
        </md-toolbar>
        <div class="row">
            <div class="col-sm-12">

            <md-content class="frm-container">
                <div layout="row" style="margin-top:16px;margin-bottom: 16px;padding-left:10px;">
                    <div flex="5">
                        <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_info_24px.svg"></md-icon>
                    </div>
                    <div flex="95">
                             <span>
                                Для внесения изменений в ваши данные обратитесь к ...
                            </span>
                    </div>
                </div>


                <div class="col-sm-4">
                <md-input-container class="md-block" md-no-float>
                    <label>Email</label>
                    <input disabled name="email" class="material-input" ng-model="partner.email" ng-required="true" type="email">
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <label>Имя</label>
                    <input disabled name="firstName" class="material-input" ng-model="partner.firstName" ng-required="true" type="text" ng-pattern="/^[A-Я]+$/i">
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <label>Отчество</label>
                    <input disabled name="middleName" class="material-input" ng-model="partner.middleName" type="text">
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <label>Фамилия</label>
                    <input disabled name="lastName" class="material-input" ng-model="partner.lastName" type="text">

                </md-input-container>


                <!-- Phone -->
                <md-input-container class="md-block" md-no-float>
                    <label>Телефон</label>
                    <input disabled name="phone" class="material-input" id="phone" ng-model="partner.phone" type="text">

                </md-input-container>


                <md-input-container class="md-block" md-no-float  ng-if="partner.isLegalEntity">
                    <label>ИНН</label>
                    <input disabled name="inn" class="material-input" maxlength="10" minlength="10" ng-model="partner.legalEntityInn" type="text">

                </md-input-container>

                <md-input-container class="md-block" md-no-float  ng-if="partner.isLegalEntity">
                    <label>КПП</label>
                    <input disabled name="kpp" class="material-input" maxlength="9" minlength="9" ng-model="partner.legalEntityKpp" type="text">


                </md-input-container>

                <md-input-container class="md-block">
                    <label>Адрес</label>
                    <input disabled name="address" class="material-input"
                           ng-model="partner.address"
                           type="text">

                </md-input-container>


            </div>



            <div class="col-sm-4" ng-if="!partner.isLegalEntity">



                <!-- Birth date -->

                <md-input-container class="md-block">
                    <label>Дата рождения</label>
                    <input disabled name="birthDate" class="material-input date-input" style="margin-top:-2px;"
                           ng-model="partner.birthDate"
                           type="text">



                </md-input-container>


                <!-- Passport Number -->
                <md-input-container class="md-block">
                    <label>Номер паспорта</label>
                    <input disabled name="passportNum" class="material-input" ng-model="partner.passportNumber" id="passportNum"
                           type="text">
                </md-input-container>

                <!-- Passport issued date -->
                <md-input-container class="md-block">
                    <label>Дата выдачи</label>

                    <input disabled name="passportDate" class="material-input date-input"
                           ng-model="partner.passportDate"
                           type="text"
                           >



                </md-input-container>

                <!-- Passport issuer-->
                <md-input-container class="md-block" md-no-float>
                    <label>Паспорт выдан</label>
                    <input disabled name="passportIssuedBy" class="material-input" id="passportIssuedBy" ng-model="partner.passportIssuedBy" type="text">

                </md-input-container>


            </div>
            <div class="col-sm-4" ng-if="partner.isLegalEntity">
                <!-- Company name -->
                <md-input-container class="md-block" md-no-float>
                    <label>Название организации</label>
                    <input disabled name="companyName" class="material-input" id="companyName"
                           ng-model="partner.legalEntityName"
                           type="text">
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <label>Генеральный директор</label>
                    <input disabled name="head" class="material-input"
                           ng-model="partner.head"
                           type="text">
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <label>Банк</label>
                    <input disabled name="bank" class="material-input"
                           ng-model="partner.bank"
                           type="text">
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <label>БИК</label>
                    <input disabled name="bik" class="material-input"
                           ng-model="partner.bik" ng-required="true"
                           type="text">
                  
                </md-input-container>

                <md-input-container  class="md-block" md-no-float md-is-error="userFrm.k_account.$invalid && (userFrm.$submitted || userFrm.k_account.$dirty)">
                    <label>Коррсчет</label>
                    <input disabled name="k_account" class="material-input"
                           ng-model="partner.k_account" ng-required="true"
                           type="text">
              
                </md-input-container>

                <md-input-container class="md-block" md-no-float md-is-error="userFrm.r_account.$invalid && (userFrm.$submitted || userFrm.r_account.$dirty)">
                    <label>Расчетный счет</label>
                    <input disabled name="r_account" class="material-input"
                           ng-model="partner.r_account" ng-required="true"
                           type="text">
                  
                </md-input-container>

            </div>

</md-content>
                </div>
        </div>
        </section>
    </div>