<div class="page" ng-controller="RequirementCtrl">
    <section class="md-content-section">
        <md-toolbar>
            <div class="md-toolbar-tools">
               Требования к клиенту
            </div>
        </md-toolbar>
        <div class="row">
            <div class="col-sm-12">
                <md-content class="frm-container">
                    <div layout="row">
                        <div flex="100">
                            <md-button ng-click="addGroup()">
                                <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_add_box_24px.svg"></md-icon>
                                Добавить группу требований
                            </md-button>
                        </div>
                    </div>

                    <form name="frm">
                        <v-accordion class="vAccordion--default" multiple control="accordion">
                            <v-pane  ng-repeat="group in groups | orderBy:'id'">
                                <v-pane-header class="no-border">
                                    <div layout="row">
                                        <div flex="5" layout-align-sm="center center">
                                            <md-input-container  md-no-ink>
                                                <md-checkbox ng-model="group.isDefault"
                                                             ng-checked="group.isDefault === true"
                                                             ng-click="cbClick($event,group)">
                                                    <md-tooltip md-direction="bottom">
                                                        Использовать по-умолчанию?
                                                    </md-tooltip>
                                                </md-checkbox>
                                            </md-input-container>
                                        </div>

                                        <div flex="20">
                                            <md-input-container>
                                                <input type="text" ng-model="group.title" name="title{{$index}}" ng-required="true" ng-click="$event.stopPropagation();" ng-keydown="onKeyDown($event)">
                                                <div ng-messages="frm['title' + $index].$error"
                                                     ng-if="frm['title' + $index].$error.required">
                                                    <div ng-message="required">Обязательное поле</div>
                                                </div>
                                            </md-input-container>
                                        </div>


                                        <div flex="5" layout-align-sm="center center">
                                            <md-input-container>
                                                <md-button class="md-fab md-mini md-primary md-button md-ink-ripple" type="button"
                                                           aria-label="Добавить" ng-click="accordion.expand($index);add($event,$index)">
                                                    <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_add_circle_48px.svg"></md-icon>
                                                    <md-tooltip>Добавить</md-tooltip>
                                                </md-button>
                                            </md-input-container>

                                        </div>


                                        <div flex="5" layout-align-sm="center center">
                                            <md-input-container>
                                                <button class="md-fab md-mini md-primary md-button md-ink-ripple green"
                                                        type="button" aria-label="Сохранить" ng-click="save($event, group, frm, $index);">
                                                    <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_save_48px.svg"></md-icon>
                                                    <md-tooltip>Сохранить</md-tooltip>
                                                </button>
                                            </md-input-container>
                                        </div>

                                        <div flex="5" layout-align-sm="center center">
                                            <md-input-container>
                                                <md-button class="md-fab md-mini md-warn md-button md-ink-ripple"
                                                           ng-click="destroyGroup($event,group, $index)">
                                                    <md-icon md-svg-src="//static.selectdrive.ru/assets/img/icons/ic_delete_48px.svg"></md-icon>
                                                    <md-tooltip>Удалить</md-tooltip>
                                                </md-button>
                                            </md-input-container>
                                        </div>




                                    </div>

                                </v-pane-header>


                                <v-pane-content>
                                    <div flex="100" ng-show="group.requirements | isEmpty" style="text-align:center">
                                        <span class="pale">Пусто</span>
                                    </div>

                                    <div layout="row" layout-sm="column" ng-repeat="requirement in group.requirements | orderBy:'id'">


                                        <div flex="40" flex-sm="100">
                                            <md-input-container>
                                                <label>Текст (рус.)</label>

                                                <input name="title_ru{{$parent.$index}}{{$index}}" type="text" ng-model="requirement['title']['ru']" ng-required="true">

                                                <div ng-messages="frm['title_ru' + $parent.$index + $index].$error">
                                                    <div ng-message="required">Обязательное поле</div>
                                                </div>

                                            </md-input-container>

                                        </div>

                                        <div flex="40" flex-sm="100">
                                            <md-input-container>
                                                <label>Текст (англ.)</label>

                                                <input name="title_en{{$parent.$index}}{{$index}}" type="text" ng-model="requirement['title']['en']" ng-required="true" ng-pattern="/^[a-zA-Z0-9 ]*$/">

                                                <div ng-messages="frm['title_en' + $parent.$index + $index].$error">
                                                    <div ng-message="required">Обязательное поле</div>
                                                    <div ng-message="pattern">Используйте только латинские буквы, цифры, пробелы</div>
                                                </div>


                                            </md-input-container>

                                        </div>
                                        <div flex="5">
                                            <a href="#" ng-click="remove(group,$index)" class="destroy-sign">&cross;</a>
                                        </div>



                                    </div>

                                </v-pane-content>


                            </v-pane>


                        </v-accordion>







                    </form>













                    <span class="error" ng-show="err">Ошибка</span>
                </md-content>
            </div>


        </div>

    </section>
</div>
